*{
	margin:0;
	padding:0;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-size: 23px;
	text-align: justify;
}

h1, h2{
	text-align: center;
	color:#e94560;
}

.cartdiv {
display: none;
}
/* 
the padding and global margin are reinitialized
so that the <body> is not surrounded by a 
thin white line. (Due to the default margin.)
*/ 


.wrapper{
	display:table;
	height:100%;
	width:100%;
}

.box{
	display:table-cell;
}

header{
	display:table-row;
	height:150px;
}

.base{
	display:table;
	height:100%;
	width:100%;
}

.verticalMenu{
	z-index: 2;
	width:70px;
	top:230px;
	background-color: #322f46;
	position: fixed;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	height: 500px;
}

.verticalMenuContainer{
	text-align: center;
}

.mainPart{
	padding: 100px 200px 100px 250px;
}

#backgroundForImg{
	width:100vw;
	height:100vh;
	margin:auto;	
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.98);
}

.catalogueImg{
	width:150px;
	position: relative;
	cursor: zoom-in;
	border-radius: 10%;
}

.verticalMenuButton{
	margin-left: 10px;
	left: 0;
	background-color: #22202f;
	border: white solid 2px;
	border-radius: 50%;
	position: fixed;
	z-index: 3; /*if it isn't specified then the button is hidden under the vertical menu*/
	top: 240px;
	width: 50px;
	height: 50px;
	font-size: 30px;
	transition: 0.5s;
}

.verticalMenuButton:hover{
	cursor: pointer;
	box-shadow: 0 0 20px #e94560;
	border-color: #e94560;
	color: #e94560;
	transition: 0.5s;
}

.verticalMenuText{
	display: none;
	margin-left: 20px;
}

.verticalMenu hr{
	width: 50px;
	border: solid white 1px;
	margin:auto
}

footer{
	display:table-row;
}

.footerContent{
	border-top: 1px white solid;
	width:70%;
	margin:auto;
	font-size:23px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.footerContent td, .footerContent address, .footerContent a, .footerContent li{
	color:#B0B0B0;
}

.footerContent th, .footerContent td{
	text-align: left;
	font-size: medium;
	width: 30%;
	padding: 5px;
	vertical-align:top
}

.footerContent li{
	list-style-type: none;
	padding-top: 15px;
}

.footerContent a{
	text-decoration: none;
}

/* 
- wrapper is the whole index page.
- base is between the header and the footer
- the height ratio is calculated for each part 
so that the global display constantly covers 
the whole page of the browser (and never overflows). 
it has also been designed to remain fixed. 
*/

.tableHeader{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

.title{
	color: white;
	text-align:center;
	font-size:58px;
}

.smallHeaderBox{
	width: 130px;
	padding-left: 20px;
}

.smallHeaderBox span a{
	text-decoration: none;
}

.smallHeaderBox img{
	width:150px;
}

.smallHeaderBox svg{
	width: 35px;
	height: 35px;
}

.cartButton{
	border:none;
	background-color:transparent;
	cursor: pointer;
	font-size:medium
}

.cartButton:hover span{
	color:#e94560;
}


body{
	background-color: #22202f;
}

nav{
	padding: 10px;
	height: 100%;
	font-size:23px;
	text-align: center;
}

.horizontalMenu{
	background-color: #322f46;
}

.navElement li{
	list-style-type: none;
	display: inline-block;
	width: 160px;
	text-align: center;
	text-decoration:none;
	padding:5px 15px 5px 15px;
	margin:-5px; /*Used to get a continuous line under the horizontal menu nav*/
}

.navElement a, .menuElement a{
	text-decoration:none;
}

.navElement a:hover, .menuElement a:hover span, .smallHeaderBox span a:hover, .footerContent a:hover{
	color:#e94560;
}

.menuElement{
	font-size:23px;
	list-style-type: none;
	line-height: 50px;
}

.menuElement svg{
	width: 25px;
	height: 25px;
	fill: white;
}

.menuElement a:hover svg{
	fill: #e94560;
}

.menuElement a{
	border-radius: 10px;
	display: inline-block;
	width:100%;
	font-size: 25px;
	overflow-y: hidden;
}
.menuElement a:hover{
	background-color: #322f46;
}

#firstNavElement{
	border-left: none;
}

#largeNavElement{
	width: 200px;
}

.tableForm{
	width: 80%;
	margin: auto;
}

.tableForm td{
	padding-top: 15px;
	padding-left: 10px;
}

input, select, textarea{
	color:black;
}

option{
	background-color: #22202f;
}

.smallSize{
	width: 195px;
}

.mediumSize{
	width: 620px;
}

.submitButton, #buttonHideStock, .addToCartButton{
	width: 180px;
	height: 50px;
	background-color: #22202f;
	border:white 1px solid;
	color: #e94560;;
	font-weight:bold;
	font-size: 14px;
	cursor: pointer;
}

.addToCartButton{
	height: 30px;
	width: 150px;
	margin-left: 20px;
}

.submitButton:hover, #buttonHideStock:hover{
	cursor: pointer;
}

/* Style of all elements in login.php*/
.loginDiv, .createAccountDiv, .editProfileDiv{ /*also used in createaccount.php*/
	background-color: #322f46;
  	margin: auto;
	margin-top:200px;
	width: 1000px;
	padding: 5px;
}

.loginFooter{
	margin:auto;
	margin-top:50px;
	width:60vw;
	border-top: 1px white solid;
	text-align:center;
}
.loginFooter a{
	text-decoration:none;
	font-size:small;
}


/* Style of all elements in profile.php */
.profilDiv{
	background-color: #322f46;
	border: 1px solid white;
  	margin: auto;
	margin-top:200px;
	width: 500px;
	height: auto;
	padding:20px;
}

.profilDiv a{
	text-decoration: none;
	border:solid 1px white;
}
.showPassword{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.showPassword:hover{
	text-decoration: underline;
}

/* Style of all elements in sendContactForm.php */

.mailTable{
	border-collapse: collapse;
	width:1000px;
	margin:50px;
}

.mailTable td{
	border: white solid 1px;
	padding:20px;
}

.mailTable td a{
	padding: 13px;
	background-color: #22202f;
	border:white 1px solid;
	color: #e94560;;
	font-weight:bold;
	font-size: 14px;
	text-decoration: none;
}

/* Style of all elements in categorie.php */

#cat{
	width: 50vw;
	text-align: center;
}


/* Style of the table containg a list of all the categories in browse.php*/
.categoriesTable{
	border: #e94560 solid 2px;
	border-collapse: collapse;
	width: 1200px;
	margin: auto;
	margin-top: 50px;
}

.categoriesTable td{
	border: white solid 1px;
	height: 70px;
	padding: 20px;
}

/*Adapt to resolution*/

/*WIDTH*/

@media (max-width:1120px) {
	.mainPart{
		padding: 50px 50px 50px 100px;
	}
}

@media (max-width:700px) {
	.mainPart{
		padding: 50px 20px 50px 90px;
	}

	.smallHeaderBox img{
		width:80px;
	}

	.footerContent{
		border-top: 1px white solid;
		width:30%;
		margin:auto;
		padding: 30px;
		font-size:23px;
	}
}

/*HEIGHT*/

@media (max-height:740px) {
	.verticalMenu{
		height: 300px;
	}

	.menuElement svg{
		width: 18px;
		height: 18px;
	}

	.menuElement{
		font-size:23px;
		list-style-type: none;
		line-height: 30px;
	}
}

@media (max-height:540px) {
	.verticalMenuContainer{
		display: none;
	}
}