*{
	margin:0;
	padding:0;
	color:white;
}

p{
	font-size: 25px;
}

/* 
the padding and global margin are reinitialized
so that the <body> is not surrounded by a 
thin white line. (Due to the default margin.)
*/ 

.wrapper{
	display:table;
	height:100%;
	width:100%;
}

.box{
	display:table-cell;
}

header{
	display:table-row;
	height:15vh;
}

.base{
	display:table;
	height:100%;
	width:100%;
}

.menu{
	width:15vw;
	word-break:break-all;
}

.menu, .mainPart{
	padding: 2%;
}

.menu, .mainPart{
	height:70vh;
}

footer{
	border:red 2px solid;
	display:table-row;
	height:15vh;
}

.footerContent{
	border-top: 1px white solid;
	width:63vw;
	margin:auto;
	padding: 0.5vw;
	font-size:25px;
	margin-left:15vw;
}

.footerContent address{
	color:#B0B0B0;
}
/* 
- wrapper is the whole index page.
- base is between the header and the footer
- the height ratio is calculated for each part 
so that the global display constantly covers 
the whole page of the browser (and never overflows). 
it has also been designed to remain fixed. 
*/

/*The part bellow is linked to the Headder*/
.tableHeader{
	border-collapse:collapse;
	width:100%;
	height:100%;
}

.logo{
	vertical-align:top;
	text-align:left;
	padding:1% 0 0 1%;
	width:15vw;
}

.title{
	vertical-align:center;
	font-size:60px;
}

.loginAndCart{
	margin-left:auto;
	margin-top:auto;
	height:8vh;
	width:12vw;
}

body{
	background-color: #232B32;
}

hr{
	border: solid white 1px;
	width:80vw;
	margin:auto
}

nav{
	border-bottom: solid white 1px;
	border-top: solid white 1px;
	padding: 0.5vw;
	width:63vw;
	font-size:25px;
	color:white;
	margin-left:15vw;
	margin-bottom: 3vh;
}

li.navElement{
	list-style-type: none;
	display: inline-block;
	width: 8vw;
	text-align: center;
	border-left: solid white 1px;
	text-decoration:none;
}

a.navElement{
	text-decoration:none;
}

a.navElement:hover{
	text-decoration: underline;
	text-decoration-color:#e94560;
	color:rgb(201, 201, 201)
}

#firstNavElement{
	border-left: none;
}

#largeNavElement{
	width: 12vw;
}


.verticalRule{
	height:70vh;
	margin-top: 5vh;
	width:0;
	position: absolute;
	border-right:solid white 1px;
}

.tableContactForm{
	width: 80%;
	margin: auto;
}

input, select, textarea{
	color:black;
}

.smallSize{
	width: 10vw;
}

.mediumSize{
	width: 40vw;
}